 <!--service list start -->
 <div class="service-list">
  <button type="button" ng-click="open()" class="btn btn-primary">创建服务</button>
  <table class="table table-striped  service-table">
    <thead>
      <tr>
        <th>#id</th>
        <th>服务名称</th>
        <th>调度状态</th>
        <th>更新状态</th>
        <th>调度历史</th>
        <th>运行任务</th>
        <th>总任务</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="service in serviceList">
          <td>{{service.job_id}}</td>

          <td>{{service.job_name}}</td>
               <td>
                   <span ng-if="service.trace.state == 'Scheduling'" title="job状态信息"  class="label label-primary">Scheduling</span>
                   <span ng-if="service.trace.state == 'NoResource'" class="label label-danger">NoResource</span>
                   <span ng-if="service.trace.state == 'NoFitAgent'" class="label label-default">NoFitAgent</span>
          </td>
          <td> 
             <span  class="label label-primary" tooltip-placement="left" tooltip="第一个数字表示正在更新数，第二表示需要更新数，此时正在更新版本{{service.version}}" ng-if="service.is_updating && service.trace.need_update_size !=0 ">Updating:{{service.trace.updating_size}}/{{service.trace.need_update_size}} </span> 
             <span ng-if="!service.is_updating" class="label label-default">Disabled</span>
             <span tooltip-placement="left" tooltip="job版本{{service.version}}更新完成" ng-if="service.is_updating && service.trace.need_update_size==0" class="label label-success">Done</span>
         </td>
        <td><a href ng-click="listTaskHistory(service)">调度历史</a></td>
    <td><a href ng-click="listTaskByService(service)">{{service.running_task_num}}</a> </td>
        <td>{{service.replica_num}}</td>
        <td><a href ng-click="updateService(service)"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a><a href ng-click="killService(service.job_id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
      </tr>
    </tbody>
</table>
<span ng-if="serviceList.length <= 0 "> 无数据</span>
</div>

<!--service list end -->
